*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Palanquin', sans-serif;
}

body{
  background: #e6e7ee;
}

/* navbar */
nav {
  background-color: rgba(240, 240, 243, 0.5);
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 10;
  align-items: center;
}
nav:hover {
  background-color: rgba(240, 240, 243, 1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
.logo {
  height: 5rem;
  width: 5rem;
}
img.logo::before{
  background: transparent;
}
.login span {
  color: black;
  background-color: #F0F0F3;
  padding: 10px 20px;
  border-radius: 12rem;
  cursor: pointer;
  margin: 0 1rem;
  box-shadow: rgb(213, 210, 208) 5px 5px 15px, rgb(255, 255, 255) -5px -5px 15px;
  font-weight: bolder;
  font-size: 10px;
  opacity: 0.5;
}
.login span:hover {
  box-shadow: 5px 5px 9px #747474, -5px -5px 9px #ffffff;
  transition: all 0.5s;
  opacity: 1;
}
.login span:active {
  box-shadow: inset 5px 5px 9px #cacaca, inset -5px -5px 9px #f6f6f6;
  opacity: 1;
}

/* header */
.top-wrapper {
  color:white;
  text-align: center;
  padding: 180px 0 100px 0;
  position: relative;
  /* -webkit-filter:brightness(80%);  */
}
.top-wrapper::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://artboard.studio/_next/image?url=https%3A%2F%2Fcdn.artboard.studio%2Fprivate%2FGoogle_113596245918522199101%2Fprojects%2F60128a4c26618e001c00c616%2Fthumbnail-retina.png&w=1200&q=75);
  background-size: cover;
  background-position: top center;
  filter: brightness(0.5);
}
.top-wrapper h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.top-wrapper p {
  opacity: 0.9;
  margin-bottom: 3px;
}
.btn-wrapper {
  margin: 20px 0;
}
.btn-wrapper p {
  margin: 10px 0;
}
.browse {
  background-color: #3b5998;
  margin-right: 10px;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
}
.fa {
  margin-right: 5px;
}

/* content */

.section-title {
  padding-top: 80px;
  padding-bottom: 30px;
  color: #5f5d60;
}
.section-title h3 {
  text-align: left;
  margin-left: 4rem;
}
.contents-item {
  padding: 0 20px;
  text-align: center;
}
.contents-item p { 
  padding: 10px 0;
}

.explication { 
  padding-top: 8rem;
  align-items: center;
  align-content: center;
  align-self: center;
}
.explication-right { 
  width: 40%;
  color: #5f5d60;
}
.explication-right h1, h3{ 
  text-align: center;
}
.explication-right h1 { 
  font-size: 30px;
}
.explication-right h3 { 
  font-size: 20px;
  margin: 22px 0;
}
.explication-right span{ 
  font-style: italic;
}



/* footer */
footer .container-footer{
  margin-top: 7rem;
  width : 100%;
  color: #CFC7BE;
  background-color: #1F2227;
  text-align : center;
}


.gambar {
  height: 150px;
  color: #CFC7BE;
}
footer li {
  list-style: none;
  font-size : 15px;
}
footer h1 {
  font-size : 20px;
}