*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Palanquin', sans-serif;
}

body{
  background: #e6e7ee;
}

/* navbar */
nav {
  background: transparent;
  width: 100%;
  height: 4rem;
  position: absolute;
  z-index: 1;
  align-items: center;
  transition: 0.5s;
}
nav:hover {
  background-color: #e6e7ee;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.logo {
  height: 5rem;
  width: 5rem;
}
img.logo::before{
  background: transparent;
}
 .login a.btn {
  color: black;
  background-color: #e6e7ee;
  padding: 5px 20px;
  border-radius: 12rem;
  margin: 0 1rem;
  box-shadow: -0.5px -0.5px 10px rgba(255, 255, 255, 0.5),
              0.5px 0.5px 10px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  border: none;
  transition: all 0.5s;
}
.login a.btn:hover {
  box-shadow: -1px -1px 10px rgba(255, 255, 255, 0.5),
              1px 1px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.login a.btn:active {
  box-shadow: inset 5px 5px 9px #cacaca, 
              inset -5px -5px 9px #f6f6f6;
  transform: scale(0.9);
}
nav .fa{
  margin: 0;
}
.humberger{
  display: none;
}

/* header */
.top-wrapper {
  height: 100vh;
  color:white;
  position: relative;
  text-align: center;
  padding: 180px 0 100px 0;
}
.top-wrapper::before{
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-size: cover;
  filter: brightness(50%);
  background-position: top center;
  background-image: url(/src/img/bg-header.webp);
  background-attachment: fixed;
}
.top-wrapper h1 {
  opacity: 0.9;
  font-size: 3rem;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.top-wrapper p {
  opacity: 0.9;
  margin-bottom: 3px;
}
.fa {
  margin-right: 5px;
}

/* content */

.section-title {
  margin-top: 2rem;
  padding: 1rem 0;
  color: #2e2b22;
}
.section-title h3 {
  text-align: left;
  margin-left: 4rem;
  font-size: 1.5rem;
}
.contents-item {
  text-align: center;
}
.contents-item img{
  height: 10rem;
  width: 18rem;
}
.contents-item p { 
  padding: 10px 0;
}

.explication { 
  padding-top: 8rem;
  align-items: center;
  align-content: center;
  align-self: center;
}
.explication-right h1, h3{ 
  text-align: center;
}
.explication-right h1 { 
  font-size: 30px;
}
.explication-right h3 { 
  font-size: 20px;
  margin: 22px 0;
}
.explication-right span{ 
  font-style: italic;
}



/* footer */
footer .container-footer{
  margin-top: 7rem;
  width : 100%;
  color: #CFC7BE;
  background-color: #1F2227;
  text-align : center;
}


.gambar {
  height: 150px;
  color: #CFC7BE;
}
footer li {
  list-style: none;
  font-size : 15px;
}
footer h1 {
  font-size : 20px;
}