/* Note start */
/* 
    ukuran
    small: 540px,
    medium: 720px,
    large: 960px,
    xl: 1140px,
    xxl: 1320px

    color
    $primary: #e6e7ee;
    $secondary: #2D4CC8;
    $tertiary: #e6e7ee;
*/
/* Note end */

/* Utility */
.container-fluid{
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}
.container{
    width: 100%;
    max-width: 960px;
    padding: 0 1rem;
    margin: 0 auto;
}

.flex{
    display: flex;
}
.f-content-center{
    justify-content: center;
}
.f-content-between{
    justify-content: space-between;
}
.f-align-center{
    align-content: center;
}
.f-column{
    flex-direction: column;
}
.f-row{
    flex-direction: row;
}
.f-wrap{
    flex-wrap: wrap;
}
.f-wrap-reverse{
    flex-wrap: wrap-reverse;
}
a{
    text-decoration: none;
}
.col-1{
    align-content: center;
    padding: 0 2rem;
}

nav .btn{
    margin: 0 1rem;
    border-radius: 35px;
    background: #e6e7ee;
    padding: 0.3rem 1.5rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
                -5px -5px 15px rgba(255, 255, 255, 0.1);
}